html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  color: #333;
}

header {
  background-color: #0f532e;
}

button:focus {
  outline: 0;
}

.header p {
  display: inline-block;
  font-weight: 300;
  font-size: 2.5rem;
}
header .nav-title {
  font-family: "Rozha One", serif;
  margin-bottom: 0;
  font-size: 2.5rem;
  margin-left: 1rem;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  transition: 0.5s ease;
  position: relative;
  top: 0.5rem;
}

.bonsai-icon {
  border-radius: 50%;
}

.my-card {
  box-shadow: 2px 2px 4px #333;
  cursor: pointer;
  transition: 0.5s ease;
  margin: auto;
  width: 94%;
}

.my-card:hover {
  box-shadow: 5px 5px 15px #000;
}

.my-card h5 {
  font-size: 2.5rem;
}

.my-card-text {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.cart-summary-price-box {
  align-items: center;
}

.price {
  font-size: 1.6rem;
  font-weight: bold;
}

.my-card-img-top {
  background-size: contain;
  object-fit: contain;
  margin-top: 1rem;
}

.my-card-title {
  color: #333;
}

.productList {
  flex-direction: column;
}

.product-image-box {
  width: 100%;
  height: 100%;
  color: #fff;
}

.product-image {
  object-fit: cover;
  width: 100%;
}

.product-detail-title {
  font-size: 2.5rem;
}

.product-price {
  font-size: 2.5rem;
}

.product-short-description {
  font-size: 2.2rem;
}

.product-short-detail-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-long-description {
  font-size: 2.2rem;
  padding: 5% 4% 6% 4%;
  line-height: 4rem;
}

.product-image-row {
  flex-direction: column;
  background-color: #fff;
  color: #333;
}

.cart-short-description {
  font-size: 2.2rem;
  color: #333;
}

.cart-title {
  font-size: 2.5rem;
  color: #333;
}

.checkout-price {
  font-size: 2.5rem;
}

.fa-shopping-cart {
  font-size: 2.5rem;
  color: #fff;
}

.cart-box {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  margin-left: 2%;
  border-bottom: 3px solid transparent;
  transition: 0.5s ease;
  color: #fff;
}

.my-cart-text {
  font-size: 3rem;
}

.add-to-btn,
.checkout-button {
  font-size: 1.8rem;
  background-color: #0f532e;
  color: #fff;
  transition: 0.5s ease;
  border-radius: 2.5rem;
  border: 2px solid transparent;
  z-index: 3;
}

.checkout-button {
  margin-right: 8%;
  width: 15rem;
}

.custom-margin-left-price {
  margin-left: 4%;
}

.add-to-btn:hover,
.checkout-button:hover {
  background-color: #fff;
  color: #0f532e;
  border-color: #0f532e;
}

.custom-catalog-width-checkout {
  transition: 0.5s ease;
  flex-direction: column;
  border: 2px solid #0f532e;
  font-size: 1.8rem;
  cursor: pointer;
  color: #0f532e;
  margin: -1.5rem auto 3rem auto;
  border-radius: 2.5rem;
}

.back-to-catalog-cart-summary {
  transition: 0.5s ease;
  flex-direction: column;
  border: 2px solid #0f532e;
  font-size: 1.8rem;
  cursor: pointer;
  color: #0f532e;
  margin: -0.5rem auto 3rem auto;
  border-radius: 2.5rem;
  width: 20rem;
}

.back-to-catalog-details {
  transition: 0.5s ease;
  flex-direction: column;
  border: 2px solid #0f532e;
  font-size: 1.8rem;
  cursor: pointer;
  color: #0f532e;
  margin: -1.5rem auto 3rem auto;
  border-radius: 2.5rem;
  width: 20rem;
}

.back-to-catalog {
  transition: 0.5s ease;
  flex-direction: column;
  border: 2px solid #fff;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
  margin: -1.5rem auto 3rem auto;
  border-radius: 2.5rem;
}

.back-to-catalog:hover {
  border-color: #0f532e;
  background-color: #fff;
  color: #0f532e;
}

.form-input {
  height: 3.5rem;
  font-size: 1.8rem;
}

.form-label {
  font-size: 1.8rem;
  color: #333;
}

.form-textarea {
  height: 10rem;
  border: 1px solid #ced4da;
  resize: none;
  font-size: 1.8rem;
}

.custom-form-btn-margin {
  justify-content: center;
}

.order-btn {
  top: 11rem;
  font-size: 1.8rem;
  background-color: #0f532e;
  color: #fff;
  transition: 0.5s ease;
  border-radius: 2.5rem;
  border: 2px solid transparent;
  z-index: 3;
  position: relative;
  transition: 0.5s ease;
  width: 20rem;
}

.order-btn:hover {
  border-color: #0f532e;
  background-color: #fff;
  color: #0f532e;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  color: #fff;
  font-size: 2.5rem;
  background-color: #0f532e;
  border: 5px solid #fff;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  text-align: center;
}

.modal-btn {
  font-size: 1.8rem;
  background-color: #fff;
  color: #0f532e;
  transition: 0.5s ease;
  border-radius: 2.5rem;
  border: 2px solid transparent;
  z-index: 3;
  width: 15rem;
}

.modal-btn:hover {
  border-color: #fff;
  color: #fff;
  background-color: #0f532e;
}

.order-form-top-margin {
  margin: auto;
}

.continue-shopping-btn {
  margin: auto;
  justify-content: center;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.custom-catalog-width {
  width: 20rem;
  color: #0f532e;
  border-color: #0f532e;
}

@media screen and (min-width: 768px) {
  .back-to-catalog-details {
    color: #fff;
    border-color: #fff;
    margin-top: 3rem;
  }

  .back-to-catalog-details:hover {
    border-color: #0f532e;
    background-color: #fff;
    color: #0f532e;
  }
  .back-to-catalog-cart-summary {
    border: 2px solid #fff;
    color: #fff;
  }

  .checkout-cart {
    font-size: 2.1rem;
  }
  .modal-content {
    width: 50%;
    height: 50%;
  }
  .form-label {
    color: #fff;
  }

  .checkout-form-price {
    color: #fff;
  }

  .my-cart-text {
    color: #fff;
  }

  .custom-catalog-width {
    width: 13%;
    color: #fff;
    border-color: #fff;
  }

  .no-items-text {
    right: 3%;
    color: #fff;
  }

  .product-detail-title {
    margin-bottom: 6%;
    font-size: 3.5rem;
  }

  .product-image-box {
    margin-top: 5%;
  }

  .back-to-catalog {
    border-color: #fff;
    color: #fff;
    margin-bottom: 3.7rem;
    width: 19rem;
    margin-top: 2rem;
  }

  body {
    background-color: #69625a;
  }

  .product-short-detail-box {
    margin-left: 2rem;
    margin-top: 4%;
    align-items: start;
  }

  .cart-box {
    left: 0;
  }

  header .nav-title {
    letter-spacing: 1px;
    font-size: 4.5rem;
  }

  .my-card-img-top {
    height: 30rem;
    margin-top: 2rem;
  }

  .productList {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-image-row {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .productList {
    margin-top: 7%;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .add-to-btn,
  .product-short-description {
    margin-bottom: 13%;
  }

  .custom-margin-left-price {
    color: #fff;
  }

  .order-btn {
    top: 0rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 22rem;
  }

  .custom-catalog-width-checkout {
    width: 22rem;
    margin-top: 1.5rem;
    color: #fff;
    border-color: #fff;
  }
}

@media only screen and (width: 768px) and (height: 1024px) and (orientation: portrait) {
  .bonsai-icon {
    position: relative;
    top: 0.4rem;
  }
  .custom-catalog-width-checkout {
    margin-top: -0.5rem;
    color: #fff;
    border-color: #fff;
  }
  .modal-content {
    height: 35%;
  }
  .order-form-top-margin {
    margin-top: 8.5rem;
    color: #fff;
  }
  .back-to-catalog-details {
    margin-top: 5rem;
    color: #fff;
    border-color: #fff;
  }

  .back-to-catalog {
    margin-top: 7rem;
  }

  .no-items-text {
    margin-top: 9% !important;
  }

  .back-to-catalog-cart-summary {
    margin-top: 7.5rem;
  }
}

@media screen and (min-width: 992px) {
  .back-to-catalog-cart-summary {
    margin-top: 5.6rem;
  }

  .back-to-catalog-cart-summary:hover {
    border-color: #0f532e;
    background-color: #fff;
    color: #0f532e;
  }
  .custom-catalog-width-checkout:hover {
    background-color: #fff;
    color: #0f532e;
    border-color: #0f532e;
  }

  header .nav-title:hover {
    border-bottom-color: #fff;
  }

  .cart-box {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4rem;
  }

  .fa-shopping-cart:hover {
    color: inherit;
  }

  .checkout-cart:hover {
    color: #0f532e;
  }

  .cart-box:hover,
  .cart-box:hover i {
    background-color: #fff;
    color: #0f532e;
  }
  .custom-margin-left-price {
    font-size: 3rem;
  }

  .order-form-top-margin {
    margin-top: 8rem;
    color: #fff;
  }

  .order-btn {
    top: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .back-to-catalog-details {
    margin-top: 0rem;
  }
}

@media screen and (min-width: 1600px) {
  header .nav-title {
    letter-spacing: 1px;
    font-size: 4.5rem;
  }

  .fa-shopping-cart {
    font-size: 2.8rem;
  }

  .back-to-catalog {
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 4%;
    margin-top: 1%;
  }
}

@media screen and (min-width: 1900px) {
  .back-to-catalog-details {
    margin-top: -5rem;
  }
}
