html {
  font-size: 62.5%;
}

.header p {
  display: inline-block;
  font-weight: 300;
  font-size: 2.5rem;
}

.header-dollar-sign {
  font-size: 1.8rem;
  position: relative;
  bottom: 0.2rem;
}

.my-card {
  box-shadow: 2px 2px 4px #6c757d;
}

.my-card h5 {
  font-size: 2rem;
  font-weight: bold;
}

.my-card-text {
  font-size: 1.6rem;
  color: #000;
  font-weight: 600;
}

.price {
  font-size: 1.6rem;
  font-weight: bold;
}

.my-card-img-top {
  background-size: contain;
  height: 22rem;
  object-fit: contain;
}

.productList {
  flex-direction: column;
}

.product-image-box {
  width: 100%;
  height: 100%;
}

.product-image {
  object-fit: cover;
  width: 100%;
}

.back-to-catalog {
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: -1.5rem;
}

.product-detail-title {
  font-size: 3.5rem;
}

.product-price {
  font-size: 2.5rem;
}

.product-short-description {
  font-size: 2.2rem;
}

.product-long-description {
  font-size: 2.2rem;
}

.product-image-row {
  flex-direction: column;
}

.fa-shopping-cart {
  font-size: 2.5rem;
}

.cart-box {
  font-size: 1.7rem;
  cursor: pointer;
}

.add-to-btn {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .my-card-img-top {
    height: 30rem;
  }

  .productList {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-image-row {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
